Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2018-03, with the labels that each got.

#2250 [jsk_pcl_ros/color_histogram_visualizer.py] use facecolor instead of axisbg
  jsk_pcl_ros/scripts/color_histogram_visualizer.py
Labels: bug, pkg/jsk_pcl_ros

#2248 [jsk_perception/label_image_decomposer.py] check img.ndim for gray scale image
  jsk_perception/node_scripts/label_image_decomposer.py
Labels: bug, pkg/jsk_perception

#2249 [jsk_perception/fast_rcnn.py] fast_rcnn node to follow chainer-v2 version
  jsk_perception/launch/fast_rcnn.launch
  jsk_perception/node_scripts/fast_rcnn.py
  jsk_perception/sample/sample_fast_rcnn.launch
  jsk_recognition_utils/python/jsk_recognition_utils/chainermodels/vgg16_fast_rcnn.py
  jsk_recognition_utils/python/jsk_recognition_utils/chainermodels/vgg_cnn_m_1024.py
Labels: bug, pkg/jsk_perception, pkg/jsk_recognition_utils

#2244 Add fcn_depth_prediction node
  doc/jsk_perception/nodes/fcn_depth_prediction.rst
  doc/jsk_perception/nodes/images/fcn_depth_prediction.png
  jsk_perception/config/refrigerator_target_names.yaml
  jsk_perception/node_scripts/fcn_depth_prediction.py
  jsk_perception/sample/depth_prediction_depth.jpg
  jsk_perception/sample/depth_prediction_rgb.jpg
  jsk_perception/sample/sample_fcn_depth_prediction.launch
  jsk_perception/scripts/install_trained_data.py
Labels: feature, pkg/jsk_perception
