Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2018-10, with the labels that each got.

#2337 [jsk_perception] Retrain bof data for sklearn==0.2.0 version and modified jsk_pcl_ros/utils's test for kinetic travis
  jsk_pcl_ros/test/color_histogram.test
  jsk_pcl_ros/test/test_pointcloud_screenpoint.test
  jsk_pcl_ros_utils/CMakeLists.txt
  jsk_perception/sample/sample_bof_object_recognition.launch
  jsk_perception/scripts/install_trained_data.py
Labels: pkg/jsk_pcl_ros, pkg/jsk_pcl_ros_utils, pkg/jsk_perception

#2326 [jsk_pcl_ros/cluster_point_indices_decomposer] Modified publishNegativeIndices to make it fast
  jsk_pcl_ros/src/cluster_point_indices_decomposer_nodelet.cpp
Labels: feature, pkg/jsk_pcl_ros

#2319 [jsk_pcl_ros/package.xml] Add checkerborad_detecotr's dependency
  jsk_pcl_ros/package.xml
Labels: PR/MergeOK

#2315 Fix default of force_to_flip_z_axis in doc
  doc/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.md
Labels: bug, document

#2340 [jsk_perception/image_publisher.py] Add fov parameter for publishing valid camera info parameters
  doc/jsk_perception/nodes/image_publisher.md
  jsk_perception/node_scripts/image_publisher.py
  jsk_perception/sample/sample_image_publisher.launch
Labels: Hacktoberfest, feature, pkg/jsk_perception

#2345 Fix install destination
  checkerboard_detector/CMakeLists.txt
  imagesift/CMakeLists.txt
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros_utils/CMakeLists.txt
  jsk_perception/CMakeLists.txt
  jsk_recognition_msgs/CMakeLists.txt
  jsk_recognition_utils/CMakeLists.txt
  resized_image_transport/CMakeLists.txt
Labels: bug, pkg/imagesift, pkg/jsk_pcl_ros, pkg/jsk_pcl_ros_utils, pkg/jsk_perception, pkg/jsk_recognition_msgs, pkg/jsk_recognition_utils, pkg/resized_image_transport
