Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2018-11, with the labels that each got.

#2333 [jsk_perception/ssd_object_detector] Add hand pretrained model
  doc/jsk_perception/nodes/images/ssd_hand_detection.gif
  doc/jsk_perception/nodes/ssd_object_detector.md
  jsk_perception/sample/sample_ssd_hand_detector.launch
  jsk_perception/scripts/install_trained_data.py
Labels: Hacktoberfest, PR/Discussion, PR/DoNotMergeYet, PR/NeedStrongSupport Someone?, pkg/jsk_perception

#2039 [jsk_pcl_ros][organized_pass_through] add remove_nan
  doc/jsk_pcl_ros/nodes/organized_pass_through.rst
  jsk_pcl_ros/cfg/OrganizedPassThrough.cfg
  jsk_pcl_ros/include/jsk_pcl_ros/organized_pass_through.h
  jsk_pcl_ros/src/organized_pass_through_nodelet.cpp
Labels: PR/PleaseFix, enhancement, pkg/jsk_pcl_ros

#2297 Add detect_graspable_poses_pcabase.py and its sample
  doc/jsk_pcl_ros/nodes/detect_graspable_poses_pcabase.md
  doc/jsk_pcl_ros/nodes/images/detect_graspable_poses_pcabase.gif
  doc/jsk_pcl_ros/nodes/images/detect_graspable_poses_pcabase.png
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros/sample/data/watercan.bag
  jsk_pcl_ros/sample/rviz/detect_graspable_poses_pcabase.rviz
  jsk_pcl_ros/sample/sample_detect_graspable_poses_pcabase.launch
  jsk_pcl_ros/scripts/detect_graspable_poses_pcabase.py
  jsk_pcl_ros/test/test_detect_graspable_poses_pcabase.test
Labels: Hacktoberfest, feature, pkg/jsk_pcl_ros

#2332 [jsk_perception] Add human mesh recovery(estimate people 3d pose from 2d image)
  doc/jsk_perception/nodes/human_mesh_recovery.rst
  doc/jsk_perception/nodes/images/human_mesh_recovery.png
  jsk_perception/CMakeLists.txt
  jsk_perception/node_scripts/hmr/__init__.py
  jsk_perception/node_scripts/hmr/net.py
  jsk_perception/node_scripts/hmr/resnet_v2_50.py
  jsk_perception/node_scripts/hmr/smpl.py
  jsk_perception/node_scripts/human_mesh_recovery.py
  jsk_perception/sample/config/human_mesh_recovery.rviz
  jsk_perception/sample/sample_human_mesh_recovery.launch
  jsk_perception/scripts/install_trained_data.py
  jsk_perception/test/human_mesh_recovery.test
Labels: PR/NeedStrongSupport Someone?

#2324 Add hand pose detection
  doc/jsk_perception/nodes/images/hand_pose_estimation_2d.png
  doc/jsk_perception/nodes/people_pose_estimation_2d.rst
  jsk_perception/launch/pointit.launch
  jsk_perception/node_scripts/openpose/__init__.py
  jsk_perception/node_scripts/openpose/hand_net.py
  jsk_perception/node_scripts/openpose/pose_net.py
  jsk_perception/node_scripts/people_pose_estimation_2d.py
  jsk_perception/node_scripts/pointit.py
  jsk_perception/sample/sample_people_pose_estimation_2d.launch
  jsk_perception/scripts/install_trained_data.py
Labels: Hacktoberfest, PR/NeedStrongSupport Someone?, feature, pkg/jsk_perception

#2330 [jsk_pcl_ros_utils/cluster_point_indices_to_point_indices] Concatenate all indices in case of index==-1
  jsk_pcl_ros_utils/src/cluster_point_indices_to_point_indices_nodelet.cpp
Labels: feature, pkg/jsk_pcl_ros_utils

#2363 [doc] modify people_pose_estimation_2d: add link to install chainer with GPU support
  doc/jsk_perception/nodes/people_pose_estimation_2d.rst
Labels: document

#2344 [octomap_server_contact] Publish frontier grid
  doc/jsk_pcl_ros/nodes/octomap_server_contact.md
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros/include/jsk_pcl_ros/octomap_server_contact.h
  jsk_pcl_ros/sample/rviz/sample_octomap_contact.rviz
  jsk_pcl_ros/sample/sample_octomap_contact.launch
  jsk_pcl_ros/scripts/install_sample_data.py
  jsk_pcl_ros/src/octomap_server_contact_nodelet.cpp
  jsk_pcl_ros/test/test_octomap_contact.test
Labels: Hacktoberfest, pkg/jsk_pcl_ros

#2364 [doc] modify installation of chainer with GPU support
  doc/install_chainer_gpu.rst
Labels: document

#2365 [doc] [jsk_perception] [jsk_recognition_utils] Add guide to image recognition with deep learning
  doc/deep_learning_with_image_dataset/annotate_images_with_labelme.rst
  doc/deep_learning_with_image_dataset/images/annotate_images_with_labelme_1.png
  doc/deep_learning_with_image_dataset/images/annotate_images_with_labelme_2.png
  doc/deep_learning_with_image_dataset/images/annotate_images_with_labelme_3.png
  doc/deep_learning_with_image_dataset/images/annotate_images_with_labelme_4.png
  doc/deep_learning_with_image_dataset/overview.rst
  doc/index.rst
  doc/jsk_perception/index.rst
  doc/jsk_perception/training_scripts/train_fcn.md
  doc/jsk_perception/training_scripts/train_mask_rcnn.md
  jsk_perception/CMakeLists.txt
  jsk_perception/learning_datasets/.gitignore
  jsk_perception/scripts/install_learning_datasets.py
  jsk_perception/scripts/train_fcn.py
  jsk_perception/scripts/train_mask_rcnn.py
  jsk_recognition_utils/python/jsk_recognition_utils/__init__.py
  jsk_recognition_utils/python/jsk_recognition_utils/datasets/__init__.py
  jsk_recognition_utils/python/jsk_recognition_utils/datasets/segmentation.py
Labels: document, pkg/jsk_perception, pkg/jsk_recognition_utils
