Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2018-04, with the labels that each got.

#2247 [jsk_perception/draw_classification_result.py] use LINE_AA for opencv3 in kinetic
  jsk_perception/CMakeLists.txt
  jsk_perception/node_scripts/draw_classification_result.py
Labels: bug, pkg/jsk_perception

#2253 [doc/jsk_perception] add point_pose_extractor in doc
  doc/jsk_perception/nodes/images/point_pose_extractor.png
  doc/jsk_perception/nodes/point_pose_extractor.md
Labels: document, pkg/jsk_perception

#2226 Run push build only on the master branch
  .travis.yml
Labels: enhancement

#2262 Fix build of jsk_recognition_utils (on Kinetic)
  jsk_pcl_ros/CMakeLists.txt
  jsk_recognition_utils/CMakeLists.txt
Labels: bug

#2257 Add MaskRCNNInstanceSegmentation node
  doc/jsk_perception/nodes/apply_mask_image.md
  doc/jsk_perception/nodes/images/mask_rcnn_instance_segmentation.jpg
  doc/jsk_perception/nodes/label_image_decomposer.rst
  doc/jsk_perception/nodes/mask_rcnn_instance_segmentation.rst
  jsk_perception/include/jsk_perception/apply_mask_image.h
  jsk_perception/node_scripts/label_image_decomposer.py
  jsk_perception/node_scripts/mask_rcnn_instance_segmentation.py
  jsk_perception/sample/sample_mask_rcnn_instance_segmentation.launch
  jsk_perception/scripts/install_trained_data.py
  jsk_perception/src/apply_mask_image.cpp
Labels: feature, pkg/jsk_perception

#2251 [jsk_pcl_ros/test_extract_indices.cpp] use std::isnan in test_extract_indices
  jsk_pcl_ros/test/test_extract_indices.cpp
Labels: bug, pkg/jsk_pcl_ros

#2266 Fix warnings for jsk_pcl_ros package
  jsk_pcl_ros/CMakeLists.txt
Labels: enhancement, pkg/jsk_pcl_ros

#2265 Fix warnings for jsk_pcl_ros_utils
  jsk_pcl_ros_utils/CMakeLists.txt
Labels: enhancement, pkg/jsk_pcl_ros_utils

#2264 Node to concatenate BoundingBoxArray
  doc/jsk_recognition_utils/nodes/add_bounding_box_array.rst
  jsk_recognition_utils/CMakeLists.txt
  jsk_recognition_utils/doc
  jsk_recognition_utils/node_scripts/add_bounding_box_array.py
  jsk_recognition_utils/sample/sample_add_bounding_box_array.launch
  jsk_recognition_utils/sample/sample_bounding_box_array_publisher.launch
  jsk_recognition_utils/test/bounding_box_array_publisher.test
Labels: PR/MergeOK, feature, pkg/jsk_recognition_utils

#2275 Refactor cmake of jsk_perception
  jsk_perception/CMakeLists.txt
Labels: enhancement

#2274 Set required=true for samples to fast finish in tests
  jsk_perception/launch/fcn_object_segmentation.launch
  jsk_perception/sample/sample_fcn_object_segmentation.launch
Labels: enhancement

#2260 Test Kinetic on Travis
  .travis.yml
Labels: enhancement

#2279 Refactor CMakeLists.txt and package.xml of jsk_perception
  imagesift/CMakeLists.txt
  imagesift/package.xml
Labels: enhancement
