Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2019-06, with the labels that each got.

#2423 [jsk_perception] Add trained maskrcnn model for 73b2 kitchen
  .readme/gallery_73b2_kitchen_mask_rcnn.jpg
  doc/jsk_perception/training_scripts/73b2_kitchen_mask_rcnn_result.md
  doc/jsk_perception/training_scripts/result_images/image0.png
  doc/jsk_perception/training_scripts/result_images/image1.png
  doc/jsk_perception/training_scripts/result_images/image10.png
  doc/jsk_perception/training_scripts/result_images/image11.png
  doc/jsk_perception/training_scripts/result_images/image12.png
  doc/jsk_perception/training_scripts/result_images/image13.png
  doc/jsk_perception/training_scripts/result_images/image14.png
  doc/jsk_perception/training_scripts/result_images/image15.png
  doc/jsk_perception/training_scripts/result_images/image16.png
  doc/jsk_perception/training_scripts/result_images/image17.png
  doc/jsk_perception/training_scripts/result_images/image18.png
  doc/jsk_perception/training_scripts/result_images/image19.png
  doc/jsk_perception/training_scripts/result_images/image2.png
  doc/jsk_perception/training_scripts/result_images/image20.png
  doc/jsk_perception/training_scripts/result_images/image3.png
  doc/jsk_perception/training_scripts/result_images/image4.png
  doc/jsk_perception/training_scripts/result_images/image5.png
  doc/jsk_perception/training_scripts/result_images/image6.png
  doc/jsk_perception/training_scripts/result_images/image7.png
  doc/jsk_perception/training_scripts/result_images/image8.png
  doc/jsk_perception/training_scripts/result_images/image9.png
  doc/jsk_perception/training_scripts/result_images/mask_rcnn_73b2_kitchen_sample_result.png
  doc/jsk_perception/training_scripts/train_mask_rcnn.md
  jsk_perception/sample/object_detection_example_2.jpg
  jsk_perception/sample/sample_mask_rcnn_73b2_kitchen.launch
  jsk_perception/scripts/install_trained_data.py
Labels: enhancement, pkg/jsk_perception

#2429 [jsk_pcl_ros] Add sample_color_histogram_matcher.launch
  doc/jsk_pcl_ros/nodes/color_histogram_matcher.md
  jsk_pcl_ros/sample/include/play_rosbag_convenience_store.xml
  jsk_pcl_ros/sample/rviz/color_histogram_matcher.rviz
  jsk_pcl_ros/sample/sample_color_histogram_matcher.launch
  jsk_pcl_ros/scripts/color_histogram_publisher.py
  jsk_pcl_ros/scripts/install_sample_data.py
  jsk_pcl_ros/src/color_histogram_matcher_nodelet.cpp
  jsk_pcl_ros/test/test_color_histogram_matcher.test
Labels: PR/PleaseFix, document, pkg/jsk_pcl_ros, sample, test

#2428 [doc][jsk_pcl_ros] Fix document
  doc/jsk_pcl_ros/nodes/color_histogram_matcher.md
Labels: document, pkg/jsk_pcl_ros

#2430 [jsk_recognition_utils] Add label to bounding_box_publisher.py
  doc/jsk_recognition_utils/nodes/bounding_box_array_publisher.md
  jsk_recognition_utils/node_scripts/bounding_box_array_publisher.py
Labels: pkg/jsk_recognition_utils

#2431 add negative rosparam in mask_image_filter
  doc/jsk_pcl_ros/nodes/mask_image_filter.md
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros/include/jsk_pcl_ros/mask_image_filter.h
  jsk_pcl_ros/sample/rviz/sample_mask_image_filter.rviz
  jsk_pcl_ros/sample/sample_mask_image_filter.launch
  jsk_pcl_ros/src/mask_image_filter_nodelet.cpp
  jsk_pcl_ros/test/test_mask_image_filter.test
Labels: enhancement, pkg/jsk_pcl_ros, sample, test

#2414 fixes scope bug on point_pose_extraction
  jsk_perception/src/point_pose_extractor.cpp
Labels: bug, pkg/jsk_perception
