Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2019-09, with the labels that each got.

#2449 add volume_size for kinfu parameter
  doc/jsk_pcl_ros/nodes/kinfu.md
  jsk_pcl_ros/include/jsk_pcl_ros/kinfu.h
  jsk_pcl_ros/src/kinfu_nodelet.cpp
Labels: document, enhancement, pkg/jsk_pcl_ros

#2432 kinfu supports BGR8 encoding input
  jsk_pcl_ros/src/kinfu_nodelet.cpp
Labels: bug, pkg/jsk_pcl_ros

#2415 pointit: add option '~use_arm' to select arm for pointing
  jsk_perception/node_scripts/pointit.py
Labels: enhancement, pkg/jsk_perception

#2413 mask_rcnn_instance_segmentation: support loading yaml from file
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/MaskRCNNInstanceSegmentation.cfg
  jsk_perception/node_scripts/mask_rcnn_instance_segmentation.py
Labels: PR/MergeOK
