Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2019-04, with the labels that each got.

#2408 ClusterPointIndicesDecomposer: suppress error if contains zero indices
  jsk_pcl_ros/src/cluster_point_indices_decomposer_nodelet.cpp
Labels: PR/MergeOK

#2418 Re-enable bing.test
  jsk_perception/CMakeLists.txt
Labels: PR/MergeOK, pkg/jsk_perception, test

#2411 add jsk_perception/SubtractMaskImage
  doc/jsk_perception/nodes/images/subtract_mask_image.png
  doc/jsk_perception/nodes/subtract_mask_image.md
  jsk_perception/CMakeLists.txt
  jsk_perception/include/jsk_perception/subtract_mask_image.h
  jsk_perception/plugins/nodelet/libjsk_perception.xml
  jsk_perception/sample/sample_subtract_mask_image.launch
  jsk_perception/src/subtract_mask_image.cpp
  jsk_perception/test/subtract_mask_image.test
Labels: PR/MergeOK, document, feature, pkg/jsk_perception, sample, test

#2409 MaskImageToPointIndices: support multi channel mask image
  doc/jsk_pcl_ros_utils/nodes/images/mask_image_to_point_indices.png
  doc/jsk_pcl_ros_utils/nodes/mask_image_to_point_indices.md
  jsk_pcl_ros_utils/CMakeLists.txt
  jsk_pcl_ros_utils/include/jsk_pcl_ros_utils/mask_image_to_point_indices.h
  jsk_pcl_ros_utils/sample/sample_mask_image_to_point_indices.launch
  jsk_pcl_ros_utils/src/mask_image_to_point_indices_nodelet.cpp
  jsk_pcl_ros_utils/test/mask_image_to_point_indices.test
  jsk_perception/sample/circles.jpg
Labels: PR/MergeOK, document, enhancement, pkg/jsk_pcl_ros_utils, sample, test
