Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2020-09, with the labels that each got.

#2462 [jsk_pcl_ros/cluster_point_indices] Enable use_pca in case of align_boxes is false
  doc/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.md
  jsk_pcl_ros/sample/rviz/cluster_point_indices_decomposer.rviz
  jsk_pcl_ros/sample/sample_cluster_point_indices_decomposer.launch
  jsk_pcl_ros/src/cluster_point_indices_decomposer_nodelet.cpp
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, enhancement, pkg/jsk_pcl_ros

#2466 Fix doc typo
  doc/jsk_pcl_ros_utils/nodes/centroid_publisher.md
  doc/jsk_perception/nodes/mask_rcnn_instance_segmentation.rst
Labels: PR/MergeOK, document

#2464 [jsk_pcl_ros] Fixed typo (synchornizes -> synchronizes)
  doc/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.md
  doc/jsk_pcl_ros/nodes/fuse_depth_images.md
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, document, pkg/jsk_pcl_ros

#2463 [jsk_pcl_ros] Add multi euclidean clustering
  doc/jsk_pcl_ros/nodes/euclidean_clustering.md
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros/cfg/EuclideanClustering.cfg
  jsk_pcl_ros/include/jsk_pcl_ros/euclidean_cluster_extraction_nodelet.h
  jsk_pcl_ros/sample/rviz/multi_euclidean_clustering.rviz
  jsk_pcl_ros/sample/sample_multi_euclidean_cluster_extraction.launch
  jsk_pcl_ros/src/euclidean_cluster_extraction_nodelet.cpp
  jsk_pcl_ros/test/test_multi_euclidean_clustering.test
  jsk_pcl_ros_utils/sample/include/play_rosbag_hsr_multiobjects_in_shelf.xml
  jsk_pcl_ros_utils/scripts/install_sample_data.py
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, enhancement, pkg/jsk_pcl_ros

#2467 Publish ClusterPointIndices in ssd_object_detector.py
  doc/jsk_perception/nodes/ssd_object_detector.md
  jsk_perception/node_scripts/ssd_object_detector.py
  jsk_perception/test/ssd_object_detector.test
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, document, enhancement, pkg/jsk_perception, test

#2465 [jsk_perception/people_pose_estimation_2d.py][jsk_perception/people_mask_publisher.py] Fix edge case bug
  jsk_perception/node_scripts/people_mask_publisher.py
  jsk_perception/node_scripts/people_pose_estimation_2d.py
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, bug, pkg/jsk_perception

#2347 Add nose mask publisher
  doc/jsk_perception/nodes/images/people_mask_publisher.png
  doc/jsk_perception/nodes/people_mask_publisher.rst
  jsk_perception/node_scripts/people_mask_publisher.py
  jsk_perception/sample/sample_people_pose_estimation_2d.launch
Labels: PR/WaitForMaintainerCheck, document, enhancement, pkg/jsk_perception, sample

#2376 refactor sample launches in jsk_perception
  doc/contributions.rst
  doc/index.rst
  doc/jsk_perception/nodes/face_pose_estimation.rst
  doc/jsk_perception/nodes/human_mesh_recovery.rst
  doc/jsk_perception/nodes/people_pose_estimation_2d.rst
  doc/jsk_perception/nodes/regional_feature_based_object_recognition.rst
  jsk_perception/launch/face_pose_estimation.launch
  jsk_perception/sample/sample_face_pose_estimation.launch
  jsk_perception/sample/sample_human_mesh_recovery.launch
  jsk_perception/sample/sample_people_pose_estimation_2d.launch
  jsk_perception/sample/sample_regional_feature_based_object_recognition.launch
  jsk_perception/sample/sample_ssd_object_detector.launch
  jsk_perception/test/face_pose_estimation.test
  jsk_perception/test/ssd_object_detector.test
Labels: enhancement, pkg/jsk_perception

#2481 Add FCN8sDepthPredictionConcatFirst model to fcn_depth_prediction.py
  doc/jsk_perception/nodes/fcn_depth_prediction.rst
  doc/jsk_perception/training_scripts/train_fcn_depth_prediction.md
  jsk_perception/node_scripts/fcn_depth_prediction.py
  jsk_perception/scripts/install_learning_datasets.py
  jsk_perception/scripts/install_trained_data.py
  jsk_perception/scripts/train_fcn_depth_prediction.py
  jsk_recognition_utils/python/jsk_recognition_utils/chainermodels/__init__.py
  jsk_recognition_utils/python/jsk_recognition_utils/chainermodels/fcn8s_depth_predicition.py
  jsk_recognition_utils/python/jsk_recognition_utils/datasets/__init__.py
  jsk_recognition_utils/python/jsk_recognition_utils/datasets/depth_prediction.py
Labels: PR/MergeOK, PR/PleaseFix, document, feature, pkg/jsk_perception, pkg/jsk_recognition_utils

#2510 [jsk_recognition_utils] remove unnecessary dynamic_reconfigure in rect_array_to_polygon_array.py
  jsk_recognition_utils/node_scripts/rect_array_to_polygon_array.py
Labels: PR/MergeOK, bug, pkg/jsk_recognition_utils

#2511 [jsk_recognition_utils] add rect_array_to_cluster_point_indices.py
  doc/jsk_recognition_utils/nodes/rect_array_to_cluster_point_indices.md
  jsk_recognition_utils/node_scripts/rect_array_to_cluster_point_indices.py
  jsk_recognition_utils/sample/sample_rect_array_to_cluster_point_indices.launch
  jsk_recognition_utils/test/rect_array_to_cluster_point_indices.test
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, enhancement, pkg/jsk_recognition_utils

#2504 [PointcloudScrennpoint] Add class inheritance description
  doc/jsk_pcl_ros/nodes/pointcloud_screenpoint.md
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, document, pkg/jsk_pcl_ros

#2508 Update attention_clipper.md
  doc/jsk_pcl_ros/nodes/attention_clipper.md
  doc/jsk_pcl_ros/nodes/extract_indices.md
  doc/jsk_pcl_ros/nodes/extract_indices.rst
Labels: PR/MergeOK, PR/WaitForMaintainerCheck, document, pkg/jsk_pcl_ros

#2514 [audio_to_spectrogram] Enable multi channel input by retrieving single channel data
  audio_to_spectrogram/launch/audio_to_spectrogram.launch
  audio_to_spectrogram/scripts/audio_to_spectrum.py
Labels: PR/MergeOK

#2513 Add ssd to bounding box sample
  doc/jsk_recognition_utils/nodes/images/ssd_rects.png
  doc/jsk_recognition_utils/nodes/images/ssd_rects_coral.png
  doc/jsk_recognition_utils/nodes/rect_array_to_cluster_point_indices.md
  jsk_recognition_utils/sample/config/sample_ssd_to_bounding_box.rviz
  jsk_recognition_utils/sample/config/sample_ssd_to_bounding_box_73b2_kitchen.rviz
  jsk_recognition_utils/sample/sample_ssd_coral.launch
  jsk_recognition_utils/sample/sample_ssd_to_bounding_box.launch
  jsk_recognition_utils/sample/sample_ssd_to_bounding_box_73b2_kitchen.launch
  jsk_recognition_utils/sample/sample_table_rects_to_bounding_box.launch
Labels: enhancement, pkg/jsk_recognition_utils, sample

#2477 Publish color space
  doc/jsk_pcl_ros/nodes/hsi_color_filter.md
  jsk_pcl_ros/include/jsk_pcl_ros/color_filter.h
  jsk_pcl_ros/src/color_filter_nodelet.cpp
Labels: enhancement, pkg/jsk_pcl_ros
