Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2020-02, with the labels that each got.

#2447 [jsk_recognition_utils] Fix ear clipping triangulation to support concave polygon
  jsk_recognition_utils/include/jsk_recognition_utils/pcl/ear_clipping_patched.h
  jsk_recognition_utils/src/pcl/ear_clipping_patched.cpp
Labels: bug, pkg/jsk_recognition_utils

#2472 [jsk_pcl_ros] Add nearest plane index label to cluster_point_indices_decomposer
  doc/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.md
  jsk_pcl_ros/cfg/ClusterPointIndicesDecomposer.cfg
  jsk_pcl_ros/include/jsk_pcl_ros/cluster_point_indices_decomposer.h
  jsk_pcl_ros/src/cluster_point_indices_decomposer_nodelet.cpp
Labels: document, pkg/jsk_pcl_ros

#2470 Parameterize frames, transformation and interpolation in virtual_camera_mono
  doc/jsk_perception/nodes/images/virtual_camera_mono.png
  doc/jsk_perception/nodes/virtual_camera_mono.md
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/VirtualCameraMono.cfg
  jsk_perception/sample/config/sample_virtual_camera_mono.rviz
  jsk_perception/sample/sample_virtual_camera_mono.launch
  jsk_perception/src/virtual_camera_mono.cpp
  jsk_perception/test/virtual_camera_mono.test
Labels: document, enhancement, pkg/jsk_perception, sample, test

#2475 Fix test for consensus_tracking
  jsk_perception/CMakeLists.txt
  jsk_perception/sample/sample_consensus_tracking.launch
  jsk_perception/test/consensus_tracking.test
Labels: bug, pkg/jsk_perception, test
