Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2021-12, with the labels that each got.

#2542 [WIP] Add paper_finder
  doc/jsk_perception/nodes/images/paper_finder.png
  doc/jsk_perception/nodes/paper_finder.md
  jsk_perception/node_scripts/paper_finder.py
  jsk_perception/sample/config/paper_finder.rviz
  jsk_perception/sample/include/play_d435_floor.xml
  jsk_perception/sample/sample_paper_finder.launch
  jsk_perception/scripts/install_sample_data.py
Labels: PR/PleaseFix

#2646 [jsk_recognition_utils] Enable publishing coefficients array
  doc/jsk_recognition_utils/nodes/polygon_array_publisher.md
  jsk_recognition_utils/node_scripts/polygon_array_publisher.py
  jsk_recognition_utils/sample/sample_polygon_array_publisher.launch
  jsk_recognition_utils/test/polygon_array_publisher.test
Labels: pkg/jsk_recognition_utils

#2643 update description of the paper_finder document
  doc/jsk_perception/nodes/paper_finder.md
Labels: PR/MergeOK

#2645 [jsk_perception] Add depth image filter
  doc/jsk_perception/nodes/depth_image_filter.rst
  doc/jsk_perception/nodes/images/depth_image_filter.png
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/DepthImageFilter.cfg
  jsk_perception/node_scripts/depth_image_filter.py
  jsk_perception/sample/sample_depth_image_filter.launch
  jsk_perception/test/depth_image_filter.test
Labels: pkg/jsk_perception
