Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2022-06, with the labels that each got.

#2679 publish boundingboxarray in paper_finder.py
  doc/jsk_perception/nodes/images/paper_finder.png
  doc/jsk_perception/nodes/paper_finder.md
  jsk_perception/node_scripts/paper_finder.py
  jsk_perception/sample/config/paper_finder.rviz
Labels: enhancement, PR/MergeOK, pkg/jsk_perception

#2697 [jsk_perception/aws_detect_faces] Publish visualized image when use_image is False case
  jsk_perception/node_scripts/aws_detect_faces.py
Labels: bug, PR/MergeOK, pkg/jsk_perception

#2698 [sound_classification] set default as python2 in sound_classification
  sound_classification/CMakeLists.txt
Labels: bug, PR/MergeOK

#2689 [jsk_perception] Fix depth_img.shape index
  jsk_perception/node_scripts/hand_pose_estimation_2d.py
Labels: bug, PR/MergeOK, pkg/jsk_perception

#2694 fix doc build and typo in aws_auto_checkin_app doc
  doc/jsk_perception/nodes/aws_auto_checkin_app.rst
  doc/jsk_perception/nodes/aws_detect_faces.rst
  doc/requirements.txt
Labels: PR/MergeOK

#2650 Add CRAFT character detection node and OCR node.
  .github/workflows/config.yml
  doc/jsk_perception/nodes/craft_node.rst
  doc/jsk_perception/nodes/images/craft_node.jpg
  doc/jsk_perception/nodes/images/ocr_node.jpg
  doc/jsk_perception/nodes/ocr_node.rst
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/CRAFT.cfg
  jsk_perception/cfg/OCR.cfg
  jsk_perception/node_scripts/craft/__init__.py
  jsk_perception/node_scripts/craft/basenet/__init__.py
  jsk_perception/node_scripts/craft/basenet/vgg16_bn.py
  jsk_perception/node_scripts/craft/craft.py
  jsk_perception/node_scripts/craft/craft_utils.py
  jsk_perception/node_scripts/craft/imgproc.py
  jsk_perception/node_scripts/craft/refinenet.py
  jsk_perception/node_scripts/craft_node.py
  jsk_perception/node_scripts/ocr_node.py
  jsk_perception/package.xml
  jsk_perception/sample/data/the_zen_of_python.jpg
  jsk_perception/sample/sample_craft_node.launch
  jsk_perception/scripts/install_trained_data.py
  jsk_perception/test/craft_node.test
  jsk_perception/test/ocr_node.test
  jsk_recognition_utils/python/jsk_recognition_utils/put_text.py
  jsk_recognition_utils/python/jsk_recognition_utils/visualize.py
Labels: enhancement, PR/MergeOK, document, pkg/jsk_perception, pkg/jsk_recognition_utils, PR/PleaseFix
