Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2022-07, with the labels that each got.

#2711 [jsk_perception/virtual_camera_mono] Use DiagnosticNodelet to start subscribing topics when camera_info is subscribed
  doc/jsk_perception/nodes/virtual_camera_mono.md
  jsk_perception/CMakeLists.txt
  jsk_perception/include/jsk_perception/virtual_camera_mono.h
  jsk_perception/plugins/nodelet/libjsk_perception.xml
  jsk_perception/src/virtual_camera_mono.cpp
Labels: enhancement, pkg/jsk_perception

#2696 [feature] container occupancy detector nodelet
  doc/jsk_pcl_ros/nodes/container_occupancy_detector.md
  doc/jsk_pcl_ros/nodes/images/container_occupancy_detector_rviz.png
  jsk_pcl_ros/CMakeLists.txt
  jsk_pcl_ros/include/jsk_pcl_ros/container_occupancy_detector.h
  jsk_pcl_ros/launch/container_occupancy_detector.launch
  jsk_pcl_ros/package.xml
  jsk_pcl_ros/plugins/nodelet/libjsk_pcl_ros.xml
  jsk_pcl_ros/sample/include/play_rosbag_fetch_trashbin.xml
  jsk_pcl_ros/sample/rviz/container_occupancy_detector.rviz
  jsk_pcl_ros/sample/sample_container_occupancy_detector.launch
  jsk_pcl_ros/sample/sample_rearrange_bounding_box.launch
  jsk_pcl_ros/scripts/install_sample_data.py
  jsk_pcl_ros/src/container_occupancy_detector_nodelet.cpp
  jsk_pcl_ros/src/rearrange_bounding_box_nodelet.cpp
  jsk_pcl_ros/test/test_container_occupancy_detector.test
  jsk_pcl_ros/test/test_rearrange_bounding_box.test
  jsk_pcl_ros/test/test_rearrange_bounding_box_rotation.py
Labels: PR/WaitForUpstreamRelease, document, test, feature, sample, pkg/jsk_pcl_ros

#2714 [jsk_perception/image_publisher.py] Support bgr16, rgb16, bgra16 and rgba16 encodings and compressedDepth for 32FC1 depth image
  doc/jsk_perception/nodes/image_publisher.md
  jsk_perception/node_scripts/image_publisher.py
  jsk_perception/sample/sample_image_publisher.launch
  jsk_perception/test/image_publisher.test
  jsk_recognition_utils/python/jsk_recognition_utils/depth.py
Labels: bug, enhancement, pkg/jsk_perception

#2713 [jsk_perception/robot_to_mask_image] Fix image size considering binning
  doc/jsk_perception/nodes/robot_to_mask_image.md
  jsk_perception/include/jsk_perception/robot_to_mask_image.h
  jsk_perception/sample/sample_robot_to_mask_image.launch
  jsk_perception/src/robot_to_mask_image.cpp
Labels: enhancement, pkg/jsk_perception

#2715 [sound_classification] Fix pactl option to list up input devices
  sound_classification/README.md
Labels: bug, document, pkg/sound_classification

#2716 [jsk_perception/aws_auto_checkin_app] Use search_faces_by_image() of Amazon Rekognition
  doc/jsk_perception/nodes/aws_auto_checkin_app.rst
  doc/jsk_perception/nodes/aws_detect_faces.rst
  jsk_perception/node_scripts/aws_auto_checkin_app.py
  jsk_perception/node_scripts/aws_detect_faces.py
  jsk_perception/sample/sample_aws_auto_checkin_app.launch
  jsk_perception/sample/sample_aws_detect_faces.launch
Labels: bug, enhancement, pkg/jsk_perception
