Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2022-11, with the labels that each got.

#2732 [sound_classification] Update setup doc on README
  sound_classification/README.md
Labels: PR/MergeOK, document, hacktoberfest-accepted, pkg/sound_classification

#2739 Fix #2737
  jsk_pcl_ros/src/euclidean_cluster_extraction_nodelet.cpp
Labels: PR/MergeOK

#2704 [doc] Fix typo in PointIndicesToMaskImage
  doc/jsk_pcl_ros_utils/nodes/point_indices_to_mask_image.md
Labels: PR/MergeOK, document, pkg/jsk_pcl_ros_utils

#2690 [jsk_perception/dualfisheye_panorama] poke in callback
  jsk_perception/src/dual_fisheye_to_panorama.cpp
Labels: PR/MergeOK, pkg/jsk_perception

#2741 [doc/hsi_color_filter.md] fix parameter name
  doc/jsk_pcl_ros/nodes/hsi_color_filter.md
Labels: PR/MergeOK

#2654 [audio_to_spectrogram] Enable publishing frequency vs amplitude plot
  audio_to_spectrogram/README.md
  audio_to_spectrogram/docs/images/spectrum.jpg
  audio_to_spectrogram/launch/audio_to_spectrogram.launch
  audio_to_spectrogram/package.xml
  audio_to_spectrogram/scripts/spectrum_plot.py
  audio_to_spectrogram/src/audio_to_spectrogram/__init__.py
  audio_to_spectrogram/src/audio_to_spectrogram/convert_matplotlib.py
Labels: PR/MergeOK

#2658 Force plane coefficient to direct origin in plane concatinator
  doc/jsk_pcl_ros_utils/nodes/plane_concatenator.md
  jsk_pcl_ros_utils/include/jsk_pcl_ros_utils/plane_concatenator.h
  jsk_pcl_ros_utils/src/plane_concatenator_nodelet.cpp
Labels: PR/MergeOK, pkg/jsk_pcl_ros_utils

#2740 Add size check in ClusterPointIndicesLabelFilter
  jsk_pcl_ros_utils/src/cluster_point_indices_label_filter_nodelet.cpp
Labels: PR/MergeOK

#2748 [jsk_pcl_ros] to avoid invalid access, use getGridCoordinates+getCenroidIndexAt function instead of getCentroidIndex.
  jsk_pcl_ros/src/euclidean_cluster_extraction_nodelet.cpp
Labels: bug, pkg/jsk_pcl_ros
