Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2022-09, with the labels that each got.

#2724 [jsk_perception/VirtualCameraMono] Add queue_size param
  doc/jsk_perception/nodes/virtual_camera_mono.md
  jsk_perception/include/jsk_perception/virtual_camera_mono.h
  jsk_perception/src/virtual_camera_mono.cpp
Labels: document

#2728 [jsk_perception/mask_image_to_rect] Add rect_type option to publish rects containing each contour of mask image
  doc/jsk_perception/nodes/images/mask_image_to_rect_rect_type1.jpg
  doc/jsk_perception/nodes/mask_image_to_rect.md
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/MaskImageToRect.cfg
  jsk_perception/include/jsk_perception/mask_image_to_rect.h
  jsk_perception/sample/sample_mask_image_to_rect.launch
  jsk_perception/src/mask_image_to_rect.cpp
  jsk_recognition_utils/include/jsk_recognition_utils/cv_utils.h
  jsk_recognition_utils/src/cv_utils.cpp
Labels: enhancement, document, pkg/jsk_perception

#2725 [jsk_perception/apply_mask] Avoid error in cvtColor when masked_image is empty
  jsk_perception/src/apply_mask_image.cpp
Labels: bug, pkg/jsk_perception
