Repository jsk-ros-pkg/jsk_recognition, pull requests merged in 2023-05, with the labels that each got.

#2722 [jsk_perception/point_pose_extractor] Use DiagnosticNodelet to improve subscribing
  doc/jsk_perception/nodes/images/point_pose_extractor_mouse.png
  doc/jsk_perception/nodes/point_pose_extractor.md
  jsk_perception/CMakeLists.txt
  jsk_perception/include/jsk_perception/point_pose_extractor.h
  jsk_perception/plugins/nodelet/libjsk_perception.xml
  jsk_perception/sample/image/items_in_shelf.jpg
  jsk_perception/sample/image/pai_no_mi.jpg
  jsk_perception/sample/sample_point_pose_extractor.launch
  jsk_perception/src/point_pose_extractor.cpp
  jsk_perception/test/point_pose_extractor.test
Labels: PR/MergeOK, document, test, pkg/jsk_perception

#2736 add video to scene
  jsk_perception/CMakeLists.txt
  jsk_perception/cfg/VideoToScene.cfg
  jsk_perception/include/jsk_perception/video_to_scene.h
  jsk_perception/launch/video_to_scene.launch
  jsk_perception/package.xml
  jsk_perception/plugins/nodelet/libjsk_perception.xml
  jsk_perception/sample/sample_video_to_scene.launch
  jsk_perception/src/video_to_scene.cpp
  jsk_perception/test/video_to_scene.test
Labels: PR/MergeOK, PR/PleaseFix

#2772 [jsk_perception] Use cpp version of split_image in sample_insta360_air.launch
  jsk_perception/sample/sample_dual_fisheye_to_panorama.launch
  jsk_perception/sample/sample_insta360_air.launch
Labels: enhancement, pkg/jsk_perception

#2779 [jsk_perception] Fix nodehandle in point_pose_extractor
  jsk_perception/CMakeLists.txt
  jsk_perception/src/point_pose_extractor.cpp
  jsk_perception/test/point_pose_extractor_group_ns.test
Labels: bug, pkg/jsk_perception, PR/WaitForTestCode

#2773 Save point cloud data as pcd format through ROS service.
  doc/jsk_pcl_ros_utils/nodes/pointcloud_to_pcd.rst
  jsk_pcl_ros_utils/include/jsk_pcl_ros_utils/pointcloud_to_pcd.h
  jsk_pcl_ros_utils/src/pointcloud_to_pcd_nodelet.cpp
Labels: pkg/jsk_pcl_ros_utils
